<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLA4ZUtNt-OTqeyvzEIXMyTg1kAI8Nn04</string>
	<key>GCM_SENDER_ID</key>
	<string>195053807922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>unive.it.veniceGo</string>
	<key>PROJECT_ID</key>
	<string>venicego-app</string>
	<key>STORAGE_BUCKET</key>
	<string>venicego-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195053807922:ios:b9c8bcc2da0a1718c78f2b</string>
	<key>DATABASE_URL</key>
	<string>https://venicego-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>